.env
env/
.venv/
venv/
*.pyc
__pycache__/
__pycache__
node_modules/
staticfiles/*
media/*
*.log*
.nuxt
.nitro
.cache
.output
dist
.DS_Store
.idea
.eslintcache
api-generator/typedoc.json
**/.DS_Store

# Backup files
*.bak
kubeSecrets/*.bak

# Kubernetes secrets
kubeSecrets/
KubeSecrets/

# Certificates
*.pem